._480_720 {
    width: 480px;
    height: 720px;
    position: absolute;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
}

._4092_960{
    width: 4092px;
    height: 960px;
    position: absolute;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
}

.i_landscape {
    width: 20%;
    height: 125%;
    top: 0%;
    left: 10%;
    position: absolute;
}

.i {
    width: 75%;
    height: 67%;
    top: 33%;
    left: 12.5%;
    position: absolute;
}

._576_864 {
    width: 576px;
    height: 864px;
    position: absolute;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
}

._768_1152 {
    width: 768px;
    height: 1152px;
    position: absolute;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
}

._1080_1920 {
    width: 1080px;
    height: 1920px;
    position: absolute;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
}